<<<<<<< HEAD
#footer{

    margin-bottom: 0px;
    padding-bottom: 0px;
}

#footer{
    margin-bottom: 0px;
}
 /* CSS for the image */
 .office {
    width: 100%; /* Make the image responsive within its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  .office img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
  }
  /* CSS for the text */
  #text_for_massage {
    font-size: 18px; /* Set the font size */
    line-height: 1.6; /* Set the line height for better readability */
    text-align: justify; /* Justify the text */
    color: #333; /* Set the text color */
    padding-top: 50px;
  }
=======
#footer{

    margin-bottom: 0px;
    padding-bottom: 0px;
}

#footer{
    margin-bottom: 0px;
}
 /* CSS for the image */
 .office {
    width: 100%; /* Make the image responsive within its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  .office img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
  }
  /* CSS for the text */
  #text_for_massage {
    font-size: 18px; /* Set the font size */
    line-height: 1.6; /* Set the line height for better readability */
    text-align: justify; /* Justify the text */
    color: #333; /* Set the text color */
    padding-top: 50px;
  }
>>>>>>> 615142914cbe64c1c2aca4c11032e84f5060e909
