*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    width: 100%;
    height: 50%;
    background-color: aquamarine;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
}
form{
    width: 100%;
    height: 500px;
   
    padding-left: 50%;
    padding-top: 20%;
}
form.form{
    width: 100%;
    background-color: rgb(183, 185, 50);
}
.contain{
    padding-top: 20px;
    width: 500px;
}